body {
    background-color: #210A76;
}
/* navigation bar*/
.navbar {
    list-style-type: none;
    margin: 30;
    padding: 5px;
    overflow: hidden;
    background-color: #210A76;
}
/*for all navigation bar items apart from the active*/
#nav {
    float: right;
    font-size: 20px;
    font-family: cursive;
}
/*each of the items in navigation bar*/
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/*color changes when cursor moves over the navigation bar items except the active*/
li :hover:not(.active) {
    background-color: rgb(72, 24, 185);
}

.active {
    background-color: rgb(103, 184, 231);

}
/*highlighting currently active page*/
#home{
    float: left;
    font-family: cursive;
    font-size: 35px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}
/*table*/
th {
    background-color: #4CAF50;
}
td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}

tr{
    background-color: #dddddd;
}
button {
    font-size: 1em;

}
#action {
    font-size: 1em;

}